/* IMPORT FONTS */

/* NOTE: Update URL to reflect correct font webkit */
@import url('https://use.typekit.net/qcr5acn.css');

/* DEFINE CUSTOM COLORS */
:root {
  --light-blue: #6faebd;
  --warm-black: #231f20;
  --yellow: #edef4d;
  --red: #f32817;
}

/* DEFINE CUSTOM FONTS */
@layer base {
  html {
    font-family: 'segoe-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
}

/* DEFINE CUSTOM UTILITIES */
.font-rockwell {
  font-family: 'rockwell', Georgia, serif;
}

.font-segoe {
  font-family: 'segoe-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.text-warm-black {
  color: var(--warm-black);
}

.text-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.text-red {
  color: var(--red);
}

.border-red {
  border-color: var(--red);
}

.bg-warm-black {
  background-color: var(--warm-black);
}

/* CUSTOM ANIMATIONS AND EFFECTS FOR JS ELEMENTS */

/* countdown clock */
.countdown-flash {
  animation: flashScale 0.8s ease-out;
}

@keyframes flashScale {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* user answer message overlay */
.bounce-in {
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}